<%- include('partials/header', {title: 'Attribution'}); %>
 
<section id="aboutus">
  <br /><br /><br /><br />
  <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-left-17.png);background-size:auto;background-position:left center;">
  </div>
  <!--/.bg-holder-->

  <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-right-17.png);background-size:auto;background-position:right center;">
  </div>
  <!--/.bg-holder-->

  
  <div class="position-absolute bottom-0 end-0 start-0">
    <svg class="text-white w-100" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
      <path class="fill-emphasis-bg" d="M0 368L1920 0.730011L1920 368L0 368Z"></path>
    </svg>
  </div>
  
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="position-relative z-2">
      <div class="row">
        <h1 class="mb-5">Attribution</h1>
        <h3>Videos</h3>
        <ul class="list-unstyled mb-4">
          <li class="mb-1"><a class="text-body-quaternary" href="https://www.pexels.com/video/plexus-of-abstract-neon-geometrical-lines-with-moving-triangles-and-dots-3129595/" data-bs-theme="light">Pexels Pressmaster "Plexus Of Abstract Neon Geometrical Lines With Moving Triangles And Dots"</a></li>
        </ul>
        
        <h3>Images</h3>
        <ul class="list-unstyled mb-md-2">
          <li class="mb-1"><a class="text-body-quaternary" href="https://bootstrapmade.com/demo/Personal/" data-bs-theme="light">Personal</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://bootstrapmade.com/demo/MyResume/" data-bs-theme="light">MyResume</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://seantheme.com/color-admin/admin/html/index.html" data-bs-theme="light">ColorAdmin</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://prium.github.io/falcon/v3.20.0/index.html" data-bs-theme="light">Falcon</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://prium.github.io/phoenix/v1.16.0/index.html" data-bs-theme="light">Phoenix</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://prium.github.io/twbs-sparrow/v2.3.0/homes/default.html" data-bs-theme="light">Sparrow</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://themewagon.github.io/mirko/" data-bs-theme="light">Mirko</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://prium.github.io/hideaway/" data-bs-theme="light">Hideaway</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://webapplayers.com/inspinia_admin-v2.9.4/landing.html#" data-bs-theme="light">Webapplayers</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://bootstrapmade.com/restaurantly-restaurant-template/" data-bs-theme="light">Restaurantly</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://geekfolio.themescamp.com/personal/" data-bs-theme="light">Personal</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://bootstrapmade.com/demo/Valera/" data-bs-theme="light">Valera</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://bootstrapmade.com/demo/DevFolio/" data-bs-theme="light">DevFolio</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://spark.bootlab.io/dashboard-default?theme=modern" data-bs-theme="light">Spark</a></li>
          <li class="mb-1"><a class="text-body-quaternary" href="https://bootstrapmade.com/demo/Impact/" data-bs-theme="light">Impact</a></li>
        </ul>
      </div>  
    </div>
  </div>

</section>

<%- include('partials/footer'); %>