<%- include('partials/header', {title: 'Impressum'}); %>
 
<section id="aboutus">
  <br /><br /><br /><br />
  <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-left-17.png);background-size:auto;background-position:left center;">
  </div>
  <!--/.bg-holder-->

  <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-right-17.png);background-size:auto;background-position:right center;">
  </div>
  <!--/.bg-holder-->

  
  <div class="position-absolute bottom-0 end-0 start-0">
    <svg class="text-white w-100" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
      <path class="fill-emphasis-bg" d="M0 368L1920 0.730011L1920 368L0 368Z"></path>
    </svg>
  </div>
  
  <div class="container-small px-lg-7 px-xxl-3">
    <div class="position-relative z-2">
      <div class="row">
        <h1 class="mb-5">Impressum</h1>
        <p>
          Byteling Einzelunternehmen<br />
          Freies Gewerbe nach Gewerbeordnung 1994<br />
          Unternehmensgegenstand: Dienstleistungen in der automatischen Datenverarbeitung und Informationstechnik<br />
        </p>
        <p>
          Sebastian Hattinger <br />
          Bergstrasse 18 <br />
          5020 Salzburg <br />
          Österreich
        </p>
        <p>
          Email: office (at) byteling.com<br />
          Telephon: +43 660 5648853
        </p>
      </div>  
    </div>
  </div>

</section>

<%- include('partials/footer'); %>