<%- include('partials/header', {title: 'Index'}); %>
 
<div class="booking-hero-header d-flex align-items-center">
  <div class="bg-holder bg-holder overlay bg-opacity-50" style="background-image:url(/site/assets/video/webnet.png);">
    <video class="bg-video" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
      <source src="/site/assets/video/webnet.mp4" type="video/mp4" />
    </video>
  </div>
  <!--/.bg-holder-->

  <div class="container-medium position-relative z-5">
    <h1 class="text-secondary-lighter fs-4 fs-md-3 fw-normal mb-3">Website Entwicklung Salzburg</h1>
    <h2 class="text-secondary-lighter fs-6 fs-md-5 fw-normal mb-3"><em>Ihr Partner für einen gelungenen Online Auftritt</em></h2>
    <h3 class="fs-4 fs-md-1 text-white fw-normal mb-6 overflow-hidden"> 
      <span class="typed-text text-primary" data-typed-text="[
        
        &quot;&lt;span class=text-success&gt;WEBSITE?&lt;/span&gt;&quot;, 
        &quot;&lt;span class=text-info&gt;ONLINESHOP?&lt;/span&gt;&quot;,
        &quot;&lt;span class=text-success&gt;WARTUNG?&lt;/span&gt;&quot;,
        &quot;&lt;span class=text-warning&gt;INTERNETWERBUNG?&lt;/span&gt;&quot;,
        &quot;&lt;span class=text-error&gt;SEO?&lt;/span&gt;&quot;,
        &quot;&lt;span class=text-success&gt;DATENBANK?&lt;/span&gt;&quot;, 
        &quot;&lt;span class=text-info&gt;API-ANBINDUNG?&lt;/span&gt;&quot;,
        &quot;&lt;span class=text-warning&gt;CHATBOT?&lt;/span&gt;&quot;,
        &quot;&lt;span class=text-error&gt;EMAILSERVER?&lt;/span&gt;&quot;
        ]">
      </span></h3>
  </div>
</div>

<div class="position-relative">
  <div class="bg-holder z-2 d-none d-md-block" style="background-image:url(/site/assets/img/bg/13.png);background-size:auto;background-position:right;">
  </div>
  <!--/.bg-holder-->

  <div class="bg-holder z-2 d-none d-md-block d-lg-none d-xl-block" style="background-image:url(/site/assets/img/bg/bg-12.png);background-size:auto;background-position:left;">
  </div>
  <!--/.bg-holder-->

  
  <section id="aboutus" class="pb-0 bg-body-emphasis overflow-hidden position-static ">
    <div class="container-small px-lg-7 px-xxl-3">
      <div class="position-relative z-2">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-start pe-xxl-3 mt-6">
            <h4 class="text-primary fw-bolder mb-4">Wir sind für euch da!</h4>
            <h2 class="mb-3 text-body-emphasis lh-base">Mit zugeschnittenen Lösungen zu ihrem Online-Auftritt</h2>
            <p class="mb-5">Sie haben besondere Vostellungen und Ansprüche für Design und Funktionalität ihres Online-Auftritts? Sie möchten einfach nur eine günstige Website und sich um möglichst wenig kümmern? Welchen Weg Sie auch einschlagen möchten, wir sind an ihrer Seite und bieten auf Sie zugeschnittene Lösungen an.</p>
          </div>
          <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
            <div class="h-100 d-flex flex-column">
              <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="/site/assets/img/icons/pie.png" width="48" height="48" alt="" />
                <div>
                  <h5 class="fw-bolder mb-2">Effizienz</h5>
                  <p class="fw-semibold lh-sm">Wir finden das beste Preis-Leistungs-Verhältnis für das Erreichen ihrer Ziele!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
            <div class="h-100 d-flex flex-column justify-content-between">
              <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="/site/assets/img/icons/bolt.png" width="48" height="48" alt="" />
                <div>
                  <h5 class="fw-bolder mb-2">Effektivität</h5>
                  <p class="fw-semibold lh-sm"> Zielgerichtete Lösungen für ihr Problem. Ist es möglich, können wir es. </p>
                </div>
              </div>
            </div>
          </div>      
        </div>  
      </div>

     
    </div>
  </section>
</div>

     
      
      <section id="services">
        <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-left-17.png);background-size:auto;background-position:left center;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-right-17.png);background-size:auto;background-position:right center;">
        </div>
        <!--/.bg-holder-->

        <div class="position-absolute top-0 end-0 start-0">
          <svg class="w-100 text-white" preserveAspectRatio="none" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-emphasis-bg" d="M1920 0.44L0 367.74V0H1920V0.44Z"></path>
          </svg>
        </div>
        <div class="position-absolute bottom-0 end-0 start-0">
          <svg class="text-white w-100" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-emphasis-bg" d="M0 368L1920 0.730011L1920 368L0 368Z"></path>
          </svg>
        </div>
        <div class="container-small position-relative py-1 px-lg-7 px-xxl-3" style="z-index:10">
          
          <div class="col-lg-12 text-center text-lg-start pe-xxl-3 mt-7">
            <h4 class="text-primary fw-bolder mb-4">Services</h4>
            <h2 class="mb-3 text-body-emphasis lh-base">Informatiker mit Leidenschaft für ihr Handwerk </h2>
            <p class="mb-5"> Der Katalog unserer Services beinhaltet alle entscheidenden Schritte um ihrem Unternehmen einen professionellen Onlineauftritt zu verschaffen. Aufgrund von universtitären Ausbildungen im Bereich Computer Science / Informatik, können wir ihnen aber auch mit anderen IT Lösungen behilflich sein - <a href="/#contactForm">Kontaktieren Sie uns</a> einfach für ein persönliches Beratungsgespräch. </p>
          </div>
          <div class="container-small px-lg-7 px-xxl-3">
            <div class="row g-3 justify-content-center ">

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Frontend</span></div>
                        <h3 class="mb-5 text-nowrap">Responsives Webdesign</h3>
                        <p class="">Wir verwenden ausschließlich Designs die auf allen Geräten eindrucksvoll und sauber aussehen.</p>
                      </div>
                      <div class="col-4  mt-auto">
                        <img src="site/assets/img/spot-illustrations/41_dark.png" class="d-light-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/41_light.png" class="d-dark-none" style="width:100%">
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Frontend</span></div>
                        <h3 class="mb-5 text-nowrap">Webshops & E-Commerce</h3>
                        <p class="">Wir erstellen Onlineshops um Produkte zu verkaufen oder Abonnements über Zahlungsdienstleister einzurichten</p>
                      </div>
                      <div class="col-4  mt-auto">
                        <img src="site/assets/img/spot-illustrations/44_light.png" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/44_dark.png" class="d-light-none" style="width:100%">
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Backend</span></div>
                        <h3 class="mb-5 text-nowrap">Hosting, Wartung & Sicherheit</h3>
                        <p class="">Wir setzen ihre Infrastruktur auf und kümmern uns um einen reibungslosen Betrieb. </p>
                      </div>
                      <div class="col-4  mt-auto">
                        <img src="site/assets/img/spot-illustrations/403-illustration_light.png" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/403-illustration_dark.png" class="d-light-none" style="width:100%">
                        
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>
  
                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Backend</span></div>
                        <h3 class="mb-5 text-nowrap">API Anbindungen</h3>
                        <p class="">Wir verbinden ihre Applikation mit externen APIs oder stellen ihre eigene API anderen zur verfügung.</p>
                      </div>
                      <div class="col-4  mt-auto">
                        <img src="site/assets/img/spot-illustrations/auth_light.png" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/auth_dark.png" class="d-light-none" style="width:100%">
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Backend</span></div>
                        <h3 class="mb-5 text-nowrap">Databanken</h3>
                        <p class="">Als Datenbank-Profis können wir ihnen ausgezeichnetes Datenmanagement anbieten.</p>
                      </div>
                      <div class="col-4  mt-auto">
                        <img src="site/assets/img/spot-illustrations/40_light.png" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/40_dark.png" class="d-light-none" style="width:100%">
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Software Engineering</span></div>
                        <h3 class="mb-5 text-nowrap">Programmierung</h3>
                        <p class="">Möchten Sie Arbeitsvorgänge automatisieren? Wir machen ihren Wunsch zum Programm. </p>
                      </div>
                      <div class="col-4  mt-auto"> 
                        <img src="site/assets/img/spot-illustrations/38_light.webp" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/38_dark.webp" class="d-light-none" style="width:100%">
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Marketing</span></div>
                        <h3 class="mb-5 text-nowrap">SEO</h3>
                        <p class="">Grundlegende Suchmaschinenoptimierung gehört zu jeder Website dazu und ist bei uns immer Teil des Projekts. </p>
                      </div>
                      <div class="col-4  mt-auto">
                        <img src="site/assets/img/spot-illustrations/14_light.png" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/14_dark.png" class="d-light-none" style="width:100%">
                        
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Marketing</span></div>
                        <h3 class="mb-5 text-nowrap">Werbung</h3>
                        <p class="">Möchten Sie Werbung für ihr Unternehmen im Internet schalten oder selber durch Werbung verdienen, sind Sie bei uns genau richtig.</p>
                      </div>
                      <div class="col-4  mt-auto">
                        <img src="site/assets/img/spot-illustrations/23_light.png" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/23_dark.png" class="d-light-none" style="width:100%">
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Marketing</span></div>
                        <h3 class="mb-5 text-nowrap">Analyse</h3>
                        <p class="">Durhc Analyse Tools können Sie ihren Marketingerfolg einfach nachvollziehen und perfektionieren.</p>
                      </div>
                      <div class="col-4  mt-auto">   
                        <img src="site/assets/img/spot-illustrations/15_light.png" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/15_dark.png" class="d-light-none" style="width:100%">
                      </div>
                    </div>
                  </div>

                </div>
              </div>

              <div class="col-xl-6">
                <div class="card border h-100 w-100 overflow-hidden">
                  <div class="bg-holder d-block bg-card" style="background-image:url(site/assets/img/spot-illustrations/32.png);background-position: top right;">
                  </div>

                  <div class="card-body px-5 position-relative">
                    <div class="row g-0">
                      <div class="col-8">
                        <div class="badge badge-phoenix fs-10 badge-phoenix-warning mb-4"><span class="fw-bold">Beratung</span></div>
                        <h3 class="mb-5 text-nowrap">Coaching</h3>
                        <p class="">Auf Wunsch beraten und schulen wir Sie, sodass Sie selbst ihre Website verwalten, erweitern und bearbeiten können.</p>
                      </div>
                      <div class="col-4  mt-auto">
                        <img src="site/assets/img/spot-illustrations/37_light.png" class="d-dark-none" style="width:100%">
                        <img src="site/assets/img/spot-illustrations/37_dark.png" class="d-light-none" style="width:100%"> 
                      </div>
                    </div>
                  </div>

                </div>
              </div>          

          <div class="row mt-5 align-items-center justify-content-center text-center ">
              <h5 class="">Service nicht dabei? <a href="/#contactForm">Schicken Sie uns eine Anfrage!</a></h5>
          </div>

        </div>
      </section>


     

      
      <div class="position-relative">
        <div class="bg-holder z-2 d-none d-md-block" style="background-image:url(/site/assets/img/bg/13.png);background-size:auto;background-position:right;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder z-2 d-none d-md-block d-lg-none d-xl-block" style="background-image:url(/site/assets/img/bg/bg-12.png);background-size:auto;background-position:left;">
        </div>
        <!--/.bg-holder-->

        
        <section id="techstack" class="pb-0 bg-body-emphasis overflow-hidden position-static">
          <div class="container-small px-lg-7 px-xxl-3">
            <div class="col-lg-12 text-center text-lg-start pe-xxl-3 mt-7">
              <h4 class="text-primary fw-bolder mb-4">State-of-the-Art Technologie</h4>
              <h2 class="mb-3 text-body-emphasis lh-base">Wir beschränken uns nicht auf eine Technologie</h2>
              <p class="mb-5">Nicht jedes Problem lasst sich mit dem gleichen Handwerkszeug gut lösen. Wir informieren und entwickeln uns für Sie ständig weiter um auf dem neuesten Stand der Technik zu bleiben. Auf diese Weise können wir altbewährte und innovative Lösungen anbieten und verbinden. </p>
            </div>
            <div class="container-small px-lg-7 px-xxl-3">
              <div class="row g-0">
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end"><img class="w-100" src="/site/assets/img/brands/nodejs.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md"><img class="w-100" src="/site/assets/img/brands/htmlcssjs.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md"><img class="w-100" src="/site/assets/img/brands/wordpress.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0"><img class="w-100" src="/site/assets/img/brands/python.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end"><img class="w-100" src="/site/assets/img/brands/azure.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md"><img class="w-100" src="/site/assets/img/brands/bootstrap.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md"><img class="w-100" src="/site/assets/img/brands/java.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0"><img class="w-100" src="/site/assets/img/brands/typescript.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end"><img class="w-100" src="/site/assets/img/brands/redis.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md"><img class="w-100" src="/site/assets/img/brands/mysql.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md"><img class="w-100" src="/site/assets/img/brands/apachenginx.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0"><img class="w-100" src="/site/assets/img/brands/googleanalytics.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end"><img class="w-100" src="/site/assets/img/brands/postgresql.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md"><img class="w-100" src="/site/assets/img/brands/mongodb.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md"><img class="w-100" src="/site/assets/img/brands/docker.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0"><img class="w-100" src="/site/assets/img/brands/php.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-bottom border-translucent border-bottom-md-0"><img class="w-100" src="/site/assets/img/brands/react.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-md border-bottom border-translucent border-bottom-md-0"><img class="w-100" src="/site/assets/img/brands/discordjs.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-translucent"><img class="w-100" src="/site/assets/img/brands/android.png" alt="" /></div>
                </div>
                <div class="col-6 col-md-3">
                  <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-lg-0 border-translucent"><img class="w-100" src="/site/assets/img/brands/githubactions.png" alt="" /></div>
                </div>
                
              </div>
            </div>

            <div class="row mt-5 align-items-center justify-content-center text-center ">
                <h5 class="">... und viele mehr.</h5>
            </div>
          </div>
        </section>
      </div>




      <section id="method">
        <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-left-17.png);background-size:auto;background-position:left center;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-right-17.png);background-size:auto;background-position:right center;">
        </div>
        <!--/.bg-holder-->

        <div class="position-absolute top-0 end-0 start-0">
          <svg class="w-100 text-white" preserveAspectRatio="none" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-emphasis-bg" d="M1920 0.44L0 367.74V0H1920V0.44Z"></path>
          </svg>
        </div>
        <div class="position-absolute bottom-0 end-0 start-0">
          <svg class="text-white w-100" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-emphasis-bg" d="M0 368L1920 0.730011L1920 368L0 368Z"></path>
          </svg>
        </div>
        <div class="container-small position-relative py-1 px-lg-7 px-xxl-3" style="z-index:10">
          
          <div class="row mt-10">
            <div class="col-lg-6 text-center text-lg-start pe-xxl-3">
              <h4 class="text-primary fw-bolder mb-4">Unsere Herangehensweise</h4>
            </div>
          </div>

          <div class="row mt-6 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
            <div class="col-lg-5"><img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="/site/assets/img/spot-illustrations/36_light.png" alt="" /><img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="/site/assets/img/spot-illustrations/36_dark.png" alt="" /></div>
            <div class="col-lg-6">
              <h6 class="text-primary mb-2 ls-2">Kontakt</h6>
              <h3 class="fw-bolder mb-3">1. Kontaktaufnahme</h3>
              <p class="mb-4 px-md-7 px-lg-0">Wir haben keine fixen Geschäftszeiten. Wir sind für Sie da, wenn Sie uns brauchen. Rufen Sie uns jederzeit an oder schreiben Sie uns eine Email. Alternativ können Sie auch das Kontaktformular verwenden, wir melden uns umgehend bei ihnen.</p>
            </div>
          </div>
          <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
            <div class="col-lg-5 order-0 order-lg-1"><img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="/site/assets/img/spot-illustrations/35_light.png" height="394" alt="" /><img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="/site/assets/img/spot-illustrations/35_dark.png" height="394" alt="" /></div>
            <div class="col-lg-6">
              <h6 class="text-primary mb-2 ls-2">Beratung</h6>
              <h3 class="fw-bolder mb-3">2. Persönliches und kostenfreies Beratungsgespräch</h3>
              <p class="mb-4 px-md-7 px-lg-0">Wir beraten Sie gerne und ausführlich, egal welchen Kommunikationsweg Sie bevorzugen: Persönlich, bei uns oder bei ihnen, per Email, Telephon, oder Videokonferenz.</p>
            </div>
          </div>
          <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
            <div class="col-lg-5"><img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="/site/assets/img/spot-illustrations/13_light.png" height="394" alt="" /><img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="/site/assets/img/spot-illustrations/13_dark.png" height="394" alt="" /></div>
            <div class="col-lg-6 text-center text-lg-start">
              <h6 class="text-primary mb-2 ls-2">Konzept</h6>
              <h3 class="fw-bolder mb-3">3. Ausarbeitung eines Konzept</h3>
              <p class="mb-4 px-md-7 px-lg-0">Basierend auf ihren Wünschen und Preisvorstellungen erarbeiten wir für Sie ein inhaltliches und zeitliches Konzept. Je nach Art ihres Anliegens oder Problems, versuchen wir für Sie mehrere passende alternative Lösungen vorzuschlagen, aus denen Sie auswählen können.</p>
            </div>
          </div>
          <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
            <div class="col-lg-5 order-0 order-lg-1"><img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="/site/assets/img/spot-illustrations/16_light.png" height="394" alt="" /><img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="/site/assets/img/spot-illustrations/16_dark.png" height="394" alt="" /></div>
            <div class="col-lg-6">
              <h6 class="text-primary mb-2 ls-2">Kreation</h6>
              <h3 class="fw-bolder mb-3">4. Verwirklichung des Konzepts</h3>
              <p class="mb-4 px-md-7 px-lg-0">Wir verwrklichen ihre Vorstellungen mit großer Sorgfalt, durch Verwenden von moderner Technologie, Einhalten von Standards und regelmäßiger Rücksprache mit ihnen.</p>
            </div>
          </div>
          <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
            <div class="col-lg-5"><img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="/site/assets/img/spot-illustrations/24_light.png" height="394" alt="" /><img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="/site/assets/img/spot-illustrations/24_dark.png" height="394" alt="" /></div>
            <div class="col-lg-6 text-center text-lg-start">
              <h6 class="text-primary mb-2 ls-2">Rücksprache und Wartung</h6>
              <h3 class="fw-bolder mb-3">5. Zufriedenheit schaffen</h3>
              <p class="mb-4 px-md-7 px-lg-0">Ihre Zufriedenheit steht bei uns an oberster Stelle. Falls erwünscht, pflegen wir während der Erstellung laufend intensiven Kontakt mit ihnen, damit es ausgeschlossen ist, dass Sie mit den Endprodukt unzufrieden sind. Nach Fertigstellung betreuen und warten wir ihre Website für Sie gerne weiter.</p>
            </div>
          </div>

        </div>
      </section>
      
      
      <div class="position-relative">
        <div class="bg-holder z-2 d-none d-md-block" style="background-image:url(/site/assets/img/bg/13.png);background-size:auto;background-position:right;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder z-2 d-none d-md-block d-lg-none d-xl-block" style="background-image:url(/site/assets/img/bg/bg-12.png);background-size:auto;background-position:left;">
        </div>
        <!--/.bg-holder-->

        <!--
        1. Alfred Tasek
        2. Wörtl
        3. 
        -->
        <section id="testimonial" class="pb-0 bg-body-emphasis overflow-hidden position-static">
          <br /><br /><br /><br /><br />
          <div class="container-small px-lg-7 px-xxl-3">
            <div class="row">
              <div class="col-lg-6 mb-6 text-center text-lg-start z-2">
                <h4 class="text-primary fw-bolder mb-3">Testimonial</h4>
                <h2 class="mb-3 text-body-emphasis">Viele glückliche Kunden</h2>
                <p class="mb-5">Viele Kunden haben ihre Online Präsenz in unsere Hände gelegt und können sich guten Gewissens um ihre Kernkompetenzen kümmern.</p>
              </div>
              <div class="col-lg-6 z-2">
                <div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                        <div class="col-lg-6 col-xl-5 text-center">
                          <div class="testimonial-avatar-container d-inline-block position-relative">
                            <div class="bg-holder" style="background-image:url(/site/assets/img/bg/bg-2.png);background-size:contain;">
                            </div>
                            <!--/.bg-holder-->
                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="/site/assets/img/team/61.webp" width="153" height="153" alt="" />
                          </div>
                        </div>
                        <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                          <div class="mb-4" data-bs-theme="light"><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span>
                          </div>
                          <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“Lorem ipsum dolor sit amat Lorem ipsum dolor sit amat Lorem ipsum dolor sit amat”</h3>
                          <h6>Monica Gomez</h6>
                          <h6 class="fw-normal">UX designer, Google</h6>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                        <div class="col-lg-6 col-xl-5 text-center">
                          <div class="testimonial-avatar-container d-inline-block position-relative">
                            <div class="bg-holder" style="background-image:url(/site/assets/img/bg/bg-2.png);background-size:contain;">
                            </div>
                            <!--/.bg-holder-->
                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="/site/assets/img/team/8.webp" width="154" alt="" />
                          </div>
                        </div>
                        <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                          <div class="mb-4" data-bs-theme="light"><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span>
                          </div>
                          <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“Lorem ipsum dolor sit amat Lorem ipsum dolor sit amat Lorem ipsum dolor sit amat”</h3>
                          <h6>Marc Chiasson</h6>
                          <h6 class="fw-normal">UX designer, Adobe</h6>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                        <div class="col-lg-6 col-xl-5 text-center">
                          <div class="testimonial-avatar-container d-inline-block position-relative">
                            <div class="bg-holder" style="background-image:url(/site/assets/img/bg/bg-2.png);background-size:contain;">
                            </div>
                            <!--/.bg-holder-->
                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="/site/assets/img/team/35.webp" width="154" alt="" />
                          </div>
                        </div>
                        <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                          <div class="mb-4" data-bs-theme="light"><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span><span class="fa fa-star text-primary"></span>
                          </div>
                          <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“Lorem ipsum dolor sit amat Lorem ipsum dolor sit amat Lorem ipsum dolor sit amat”</h3>
                          <h6>Axel Barry</h6>
                          <h6 class="fw-normal">UX designer, Apple</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="position-relative">
        <div class="bg-holder world-map-bg" style="background-image:url(/site/assets/img/bg/bg-13.png);">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder z-2 opacity-25 " style="background-image:url(/site/assets/img/bg/bg-right-21.png);background-size:auto;background-position:right;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder z-2 mt-9 opacity-25" style="background-image:url(/site/assets/img/bg/bg-left-21.png);background-size:auto;background-position:left;">
        </div>
        <!--/.bg-holder-->

        <svg class="w-100 position-relative" preserveAspectRatio="none" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-emphasis-bg" d="M1920 0.44L0 367.74V0H1920V0.44Z"></path>
        </svg>
        <section class="overflow-hidden z-2">
          <div class="container-small px-lg-7 px-xxl-3" data-bs-theme="light">
            <div class="position-relative">
              <div class="row mb-6">
                <div class="col-xl-6 text-center text-md-start">
                  <h2 class="text-white mb-2">Von einer Vielzahl von Usern verwendet</h2>
                  <h1 class="fs-md-3 fs-xl-2 fw-black text-gradient-info text-uppercase mb-4 mb-md-0">WELTWEIT</h1>
                </div>
                <div class="col-xl-6 text-center text-md-start">
                  <p class="text-white"><!-- right text --></p>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-8 text-center text-md-start mb-6 mb-xl-0">
                  <div class="d-md-flex justify-content-md-between">
                    <div class="mb-6 mb-md-0 me-4">
                      <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":110,"duration":10,"suffix":"k"}'>0 <span>+</span></h1>
                      <p class="text-white">Mehr als 110.000 Nutzer verwenden unsere Produkte.<br class="d-md-none d-lg-block" /></p>
                    </div>
                    <div class="mb-6 mb-md-0 me-4">
                      <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":40,"duration":10,"suffix":""}'>0</h1>
                      <p class="text-white">Über 40 aktive <br class="d-md-none d-lg-block" />Abonnenten.</p>
                    </div>
                    <!--div class="mb-6 mb-md-0 me-4">
                      <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":12,"duration":0.5}'>0</h1>
                      <p class="text-white">We have won 12 awards so<br class="d-md-none d-lg-block" />far with great success. </p>
                    </div-->
                  </div>
                </div>
                <div class="col-xl-1 text-center text-md-start"></div>
                <div class="col-xl-3 text-center text-md-start"><img class="img-fluid" style="border-radius: 5%; width: 200px;" src="/site/assets/img/brands/topgg.png" alt="" /></div>
              </div>
            </div>
          </div>
        </section>
        <svg class="w-100 position-relative" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-emphasis-bg" d="M0 368L1920 0.730011L1920 368L0 368Z"></path>
        </svg>
      </div>

      
      <section id="gallery" class="bg-body-emphasis pb-lg-6 pb-xl-8">
        <!--div class="bg-holder d-dark-none" style="background-image:url(/site/assets/img/bg/bg-5.png);background-size:auto;">
        </div>

        <div class="bg-holder d-light-none" style="background-image:url(/site/assets/img/bg/bg-dark-5.png);background-size:auto;">
        </div-->

        <div class="bg-holder" style="background-image:url(/site/assets/img/bg/bg-left-5.png);background-position:left;background-size:auto;">
        </div>

        <div class="bg-holder" style="background-image:url(/site/assets/img/bg/bg-right-6.png);background-position:right;background-size:auto;">
        </div>

        <div class="container-small position-relative px-lg-7 px-xxl-3">
          <div class="mb-8 text-center text-sm-start">
            <h4 class="text-primary fw-bolder mb-3">Gallerie</h4>
            <h2>Wähle aus tausenden Designvorlagen</h2>
          </div>
          <p class="column-lg-2">Wir können jedes Design umsetzen. Design ist allerdings sehr kostspielig und in den meisten Fällen ist es am sinnvollsten eine Vorlage (Template) zu verwenden und diese nach Belieben anzupassen. Je nach verwendeter Technik kann aus verschiedenen Vorlagen ausgewählt werden. Hier sehen Sie einige Beispiele - für die gesamte Bandbreite kontaktieren Sie uns bitte.</p>
          <ul class="nav mb-6 justify-content-center justify-content-sm-start w-max-content" data-filter-nav="data-filter-nav">
            <li class="nav-item"><a class="isotope-nav cursor-pointer active" data-filter="*">Alle</a></li>
            <li class="nav-item"><a class="isotope-nav cursor-pointer" data-filter=".portfolio">Portfolio</a></li>
            <li class="nav-item"><a class="isotope-nav cursor-pointer" data-filter=".business">Business</a></li>
            <li class="nav-item"> <a class="isotope-nav cursor-pointer" data-filter=".dashboard">Dashboards</a></li>
          </ul>
          <div class="row g-3" id="image_gallery" style="min-height: 948px" data-sl-isotope='{"layoutMode":"packery"}'>
            <!--div class="col-6 col-md-4 col-lg-3 px-2 isotope-item business"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/vlava.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/vlava.png" alt="" /></a>
            </div-->
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item business"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/restaurantly.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/restaurantly.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item business"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/mirko.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/mirko.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item portfolio"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/geekfoliopersonal.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/geekfoliopersonal.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-6 px-2 isotope-item dashboard"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/phoenix2.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/phoenix2.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item business"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/impact.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/impact.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item business"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/inspinia.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/inspinia.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-6 px-2 isotope-item portfolio"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/personal.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/personal.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item dashboard"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/spark.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/spark.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item portfolio"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/devfolio.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/devfolio.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item business"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/valera.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/valera.png" alt="" /></a>
            </div> 
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item dashboard"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/phoenix.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/phoenix.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item portfolio"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/sparrow.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/sparrow.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-6 px-2 isotope-item portfolio"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/myresume.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/myresume.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item dashboard"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/coloradmin.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/coloradmin.png" alt="" /></a>
            </div>     
            <div class="col-6 col-md-4 col-lg-6 px-2 isotope-item dashboard"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/falcon.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/falcon.png" alt="" /></a>
            </div>
            <div class="col-6 col-md-4 col-lg-3 px-2 isotope-item business"><a href="#!" data-bigpicture='{"gallery":"#image_gallery"}' data-bp="/site/assets/img/gallery/hideaway.png"><img class="rounded img-fluid w-100" src="/site/assets/img/gallery/hideaway.png" alt="" /></a>
            </div>
          </div>
        </div>
      </section>
      


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <!--section class="bg-body-emphasis" id="blog">

        <div class="container-small px-lg-7 px-xxl-3">
          <div class="mb-4 text-center text-sm-start">
            <h4 class="text-primary fw-bolder mb-3">Blog</h4>
            <h2>Latest articles</h2>
          </div>
          <p class="column-md-2">See the latest articles we published with this dashboard. Your customers will be happy to find all the latest posts in one place. This menu efficiently shows all related topics from search filters and provides the customers with what they need. Also you can just educate your customers about everything they need to know and follow to avail a service with you. This menu is the one to show them that.</p>
          <div class="row h-100 g-3 justify-content-center">
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
              <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 fit-cover" src="/site/assets/img/blog/blog-1.png" alt="..." />
                <div class="card-body rounded-top">
                  <div class="d-flex align-items-cente mb-3">
                    <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                    <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">125</span></a></div>
                    <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">125</span></a></div>
                  </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">SEO</span>
                  <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Top 10 ways to Ace SEO for your business</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
              <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 fit-cover" src="/site/assets/img/blog/blog-2.png" alt="..." />
                <div class="card-body rounded-top">
                  <div class="d-flex align-items-cente mb-3">
                    <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">1256</span></a></div>
                    <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                    <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">32</span></a></div>
                  </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Marketing</span>
                  <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Top 12 Marketing strategies you can take</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
              <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 fit-cover" src="/site/assets/img/blog/blog-3.png" alt="..." />
                <div class="card-body rounded-top">
                  <div class="d-flex align-items-cente mb-3">
                    <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">142</span></a></div>
                    <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">123</span></a></div>
                    <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">22</span></a></div>
                  </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Marketing</span>
                  <h4 class="fw-bold mb-3 lh-sm line-clamp-2">The top 7 methods to improve as a marketer</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
              <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 fit-cover" src="/site/assets/img/blog/blog-4.png" alt="..." />
                <div class="card-body rounded-top">
                  <div class="d-flex align-items-cente mb-3">
                    <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span></a></div>
                    <div class="d-flex align-items-center me-3"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a></div>
                    <div class="d-flex align-items-center"><a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">112</span></a></div>
                  </div><span class="badge badge-phoenix badge-phoenix-primary mb-2">Tech</span>
                  <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Best places for a tech job in U.S</h4><a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-6"><a class="btn btn-outline-primary" href="#!">View All<span class="fa-solid fa-angle-right ms-2"></span></a></div>
        </div>


      </section-->
      <!-- <section> close ============================-->
      <!-- ============================================-->




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <!--section class="bg-body-emphasis">

        <div class="container-small px-lg-7 px-xxl-3">
          
        </div>


      </section-->
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <section id="contact">
        <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-left-17.png);background-size:auto;background-position:left center;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder z-2" style="background-image:url(/site/assets/img/bg/bg-right-17.png);background-size:auto;background-position:right center;">
        </div>
        <!--/.bg-holder-->

        <div class="position-absolute top-0 end-0 start-0">
          <svg class="w-100 text-white" preserveAspectRatio="none" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-emphasis-bg" d="M1920 0.44L0 367.74V0H1920V0.44Z"></path>
          </svg>
        </div>
        <div class="position-absolute bottom-0 end-0 start-0">
          <svg class="text-white w-100" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-emphasis-bg" d="M0 368L1920 0.730011L1920 368L0 368Z"></path>
          </svg>
        </div>
        <div class="container-small position-relative py-1 px-lg-7 px-xxl-3" style="z-index:10">
          
          <div class="mb-3 text-center text-sm-start">
            <h4 class="text-primary fw-bolder mb-3">Kontakt</h4>
            <h2>Wo Sie uns finden können</h2>
          </div>
          <p class="column-md-2"><!-- subtext --></p>
          <div class="row">
            <div class="col-12 mb-15">
              <div class="mapbox-container rounded-3 border overflow-hidden mt-3 mb-6">
                <div id="mapbox" data-mapbox='{"attributionControl":false,"center":[13.044808,47.803751],"zoom":14,"scrollZoom":true}' style="height: 381px"></div>
              </div>
            </div>
          </div>
          <div id="contactForm" class="row g-5 g-lg-5">
            <div class="col-md-6 mb-5 mb-md-0 text-center text-md-start">
              <h3 class="mb-3">Treten Sie mit uns in Verbindung</h3>
              <p class="mb-5">Wir sind offen für Fragen und Vorschlägen. Lassen Sie uns reden, kontaktieren Sie uns jederzeit.</p>
              <div class="d-flex flex-column align-items-center align-items-md-start gap-3 gap-md-0">
                <div class="d-md-flex align-items-center">
                  <div class="icon-wrapper shadow-info"><span class="uil uil-phone text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                  <div class="flex-1 ms-3"><a class="link-900" href="tel:+871406-7509">+43 660 5648853</a></div>
                </div>
                <div class="d-md-flex mb-6 align-items-center">
                  <div class="icon-wrapper shadow-info"><span class="uil uil-envelope text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                  <div class="flex-1 ms-3"><!--a class="fw-semibold text-body" href="mailto:">office (at) byteling.com</a-->office (at) byteling.com</div>
                </div>
                <!--div class="mb-6 d-md-flex align-items-center">
                  <div class="icon-wrapper shadow-info"><span class="uil uil-map-marker text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                  <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="#!">39163 Amir Drive Suite 802</a></div>
                </div-->
                <!--div class="d-flex">
                  <a href="#!"><span class="fa-brands fa-facebook fs-6 text-primary me-3"></span></a>
                  <a href="#!"><span class="fa-brands fa-twitter fs-6 text-primary me-3"></span></a>
                  <a href="#!"><span class="fa-brands fa-linkedin-in fs-6 text-primary"></span></a>
                </div-->
              </div>
            </div>
            <div class="col-md-6 text-center text-md-start">
              <h3 class="mb-3">Schicken Sie uns eine Nachricht</h3>
              <p class="mb-7"><!-- subtext --></p>
              <div class="row g-4">
                <div class="col-12">
                  <input class="form-control bg-body-emphasis" type="text" id="contact_name" placeholder="Name" required="required" />
                </div>
                <div class="col-12">
                  <input class="form-control bg-body-emphasis" type="email" id="contact_email" placeholder="Email" required="required" />
                </div>
                <div class="col-12">
                  <input class="form-control bg-body-emphasis" type="phone" id="contact_phone" placeholder="Telephon" required="required" />
                </div>
                <div class="col-12">
                  <textarea class="form-control bg-body-emphasis" rows="4" id="contact_message" placeholder="Message" required="required"></textarea>
                </div>
                <div class="col-12 d-grid">
                  <button id="contactFormSubmitButton" class="btn btn-outline-primary" onclick="sendContactForm(event);">
                    <div id="contactFormSubmitSpinner" class="spinner-border spinner-border-sm d-none" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    <span id="contactFormSubmitText">Absenden</span>
                  </button>
                </div>
                <div class="feedback"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <div class="modal fade" id="contactFormModal" tabindex="-1" aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="verticallyCenteredModalLabel">Vielen Dank für ihre Nachricht!</h5>
              <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
            </div>
            <div class="modal-body">
              <p class="text-body-tertiary lh-lg mb-0">Wir werden uns ehestmöglich bei ihnen melden.</p>
            </div>
            <div class="modal-footer">
              <!--button class="btn btn-primary" type="button">Okay</button-->
              <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Schließen</button>
            </div>
          </div>
        </div>
      </div>

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-body-emphasis pb-0">

        <div class="container-small px-lg-7 px-xxl-3">
          <div class="row justify-content-center">
            <div class="col-12 text-center">
              <div class="card py-md-9 px-md-13 border-0 z-1 shadow-lg cta-card">
                <div class="bg-holder" style="background-image:url(/site/assets/img/bg/bg-18.png);background-position:right;background-size:auto;">
                </div>
                <!--/.bg-holder-->

                <div class="card-body position-relative"><img class="img-fluid mb-5 d-dark-none" src="/site/assets/img/spot-illustrations/27_light.png" width="210" alt="..." /><img class="img-fluid mb-5 d-light-none" src="/site/assets/img/spot-illustrations/27_dark.png" width="210" alt="..." />
                  <div class="d-flex align-items-center fw-bold justify-content-center mb-3">
                    <p class="mb-0">Schnell </p><span class="text-primary fa-solid fa-circle" data-fa-transform="shrink-12"></span>
                    <p class="mb-0">Professionell</p>
                  </div>
                  <h1 class="fs-6 fs-sm-4 fs-lg-2 fw-bolder lh-sm mb-3">Abonniere unseren<span class="gradient-text-primary mx-2">Newsletter</span><span></span></h1>
                  <div class="d-flex justify-content-center mb-3 px-xxl-12">
                    <div class="d-grid d-sm-block"></div>
                    <input class="form-control me-3" id="newsletter_email" type="email" placeholder="Email" aria-describedby="ctaEmail1" />
                    <button id="newsletterFormSubmitButton" class="btn btn-primary" onclick="subscribeNewsletter(event);">
                      <div id="newsletterFormSubmitSpinner" class="spinner-border spinner-border-sm d-none" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                      <span id="newsletterFormSubmitText">Abonnieren</span>
                    </button>
                  </div>
                  <p>Alle Neuigkeiten aus der Welt des Internets um ihrem Business den entscheidenden strategischen Vorteil zu verschaffen</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>

      <div class="modal fade" id="newsletterFormModal" tabindex="-1" aria-labelledby="verticallyCenteredModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="verticallyCenteredModalLabel">Vielen Dank für ihr Abonnement!</h5>
              <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
            </div>
            <div class="modal-body">
              <p class="text-body-tertiary lh-lg mb-0">Sie erhalten nun alle wichtigen Informationen mit denen Sie ihrem Unternehmen den technologischen Vorteil verschaffen können.</p>
            </div>
            <div class="modal-footer">
              <!--button class="btn btn-primary" type="button">Okay</button-->
              <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Schließen</button>
            </div>
          </div>
        </div>
      </div>

      <!-- <section> close ============================-->
      <!-- ============================================-->


      
      
      <script src="/site/assets/js/index.js"></script>
<%- include('partials/footer'); %>